@font-face {
    font-family: 'PokeFont';
    src: url('../fonts/PokeFont.ttf') format('truetype');
}

body {
    display: block;
    background-image: url(../img/bgimg.jpg);
    background-color: rgba(255,255,255,0.6);
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    font-family: 'PokeFont', sans-serif;
}

h1, h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    margin-top: 2.5rem;
    margin-bottom: 3rem;
}

h2 {
    margin-bottom: 5rem;
}


form {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#pokeOne {
    border: 2px solid #a6a4e2;
    padding: 12px;
    font-size: 1rem;
    color: #504bce;
}

#pokeOne:focus {
    outline: none;
    border: 3px solid #807ddd;
  }

#pokeTwo {
    border: 2px solid #e2c0a4;
    padding: 12px;
    font-size: 1rem;
    color: #c3712c;
}

#pokeTwo:focus {
    outline: none;
    border: 3px solid #dba87d;
  }

#battleButton {
    display: flex;
    margin: 3rem auto;
    background: rgba(0,0,0,0);
    border: none;
    opacity: 0.90;
}

#battleButton:hover {
    opacity: 1;
}

#button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#result {
    text-align: center;
}

@media (max-width: 600px) {

    body {
        font-size: 1rem;
    }

    form {
        flex-direction: column;
    }

    .userInput {
        margin-bottom: 1rem;
        width: 60%;
    }

    #battleButton {
        font-size: 1.2rem;
        padding: 0.8rem;
        margin-top: 1rem;
    }

    #result {
        margin: 1rem;
    }

}